header .fixed-top {
  width: 100%;
  padding: calc(3 * var(--font-size)) 5% calc(1.8  * var(--font-size));
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 1;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}

header .fixed-top .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
}

header .fixed-top h1.brand-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header .fixed-top h1.brand-logo a {
  display: inline-block;
}

header .fixed-top h1.brand-logo img {
  display: block;
}

header .fixed-top .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

header .fixed-top .account .points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: calc(2.4 * var(--font-size));
  font-size: calc(1.6 * var(--font-size));
  font-weight: 800;
}

header .fixed-top .account .points img {
  width: calc(2.4 * var(--font-size));
  height: auto;
  margin-right: calc(.8 * var(--font-size));
}

header .fixed-top .account button {
  display: block;
  padding: calc(1.2 * var(--font-size)) calc(2 * var(--font-size));
  font-size: calc(1.5 * var(--font-size));
  color: #F9FAFB;
  background: -webkit-gradient(linear, left top, right top, color-stop(4.26%, #E72E6B), color-stop(99.72%, #F3973D));
  background: linear-gradient(90deg, #E72E6B 4.26%, #F3973D 99.72%);
  border-radius: calc(10 * var(--font-size));
}

header .fixed-top .account button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#c72c5f), to(#d8893a));
  background: linear-gradient(90deg, #c72c5f, #d8893a);
}

header .fixed-top button.m-nav-icon {
  display: none;
}

header nav {
  width: 60%;
  margin: 0 auto;
  position: fixed;
  top: calc(4 * var(--font-size));
  left: 0;
  right: 0;
  z-index: 3;
}

header nav button.hide {
  display: none;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav li {
  padding: 0 calc(1.4 * var(--font-size));
}

header nav li a {
  font-size: calc(1.5 * var(--font-size));
  color: #344054;
}

header nav li a:hover {
  color: #E7316A;
}

header nav li.active a {
  color: #E7316A;
}

header .subMenu-box {
  width: 100%;
  height: 55px;
  padding: 0 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: calc(8.5 * var(--font-size));
  z-index: 1;
  display: none;
}

header .subMenu-box .content {
  height: auto;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

header .subMenu-box .subMenu {
  background-color: #475467;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding: calc(1.5 * var(--font-size)) calc(4 * var(--font-size));
  border: 1px #D0D5DD solid;
  border-radius: calc(1.6 * var(--font-size));
  background-color: #FCFCFD;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}

header .subMenu-box .subMenu button.hide {
  display: none;
}

header .subMenu-box .subMenu .points {
  display: none;
}

header .subMenu-box .subMenu ul {
  max-width: 1440px;
  margin: 0 auto;
}

header .subMenu-box .subMenu li {
  width: 100%;
  margin: 0;
  font-size: calc(1.5 * var(--font-size));
  text-align: center;
}

header .subMenu-box .subMenu li a {
  display: block;
  color: #98A2B3;
}

header .subMenu-box .subMenu li a:hover {
  color: #344054;
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  header .fixed-top {
    padding: calc(3 * var(--font-size)) 3% calc(1.8  * var(--font-size));
  }
  header .fixed-top .account .points {
    margin-right: calc(1.5 * var(--font-size));
  }
  header .fixed-top .account button {
    padding: calc(1.2 * var(--font-size)) calc(1.5 * var(--font-size));
    font-size: calc(1.5 * var(--font-size));
  }
}

@media screen and (max-width: 900px) {
  header .fixed-top {
    padding: calc(1.5 * var(--font-size)) 5%;
    left: 0;
  }
  header .fixed-top h1.brand-logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  header .fixed-top .account .points {
    display: none;
  }
  header .fixed-top .account button {
    height: 36px;
    padding: calc(.8 * var(--font-size)) calc(2 * var(--font-size));
    font-size: calc(1.4 * var(--font-size));
  }
  header .fixed-top button.m-nav-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: calc(3.6 * var(--font-size));
    height: calc(3.6 * var(--font-size));
    margin-left: calc(.8 * var(--font-size));
    background-color: #344054;
    border-radius: calc(10 * var(--font-size));
  }
  header .fixed-top button.m-nav-icon img {
    width: calc(1.5 * var(--font-size));
    height: auto;
  }
  header nav {
    display: none;
    width: 100%;
    max-width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: calc(7.6 * var(--font-size)) calc(2 * var(--font-size)) calc(2 * var(--font-size));
    background-color: #FCFCFD;
    border-top-left-radius: calc(2 * var(--font-size));
    border-top-right-radius: calc(2 * var(--font-size));
    top: auto;
    bottom: 0;
  }
  header nav button.hide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: calc(3.6 * var(--font-size));
    height: calc(3.6 * var(--font-size));
    border-radius: calc(10 * var(--font-size));
    background-color: #D0D5DD;
    position: absolute;
    top: calc(2 * var(--font-size));
    right: calc(2 * var(--font-size));
  }
  header nav button.hide img {
    display: block;
    margin: 0 auto;
  }
  header nav ul {
    display: block;
    position: relative;
  }
  header nav li {
    padding: 0 0 calc(.2 * var(--font-size));
  }
  header nav li a {
    display: block;
    font-size: calc(1.6 * var(--font-size));
    text-align: center;
    line-height: 2;
  }
  header .subMenu-box {
    display: block;
    width: 100%;
    height: 125px;
    padding: 0;
    top: auto;
    bottom: 0;
    left: 0;
    z-index: 3;
    display: none;
  }
  header .subMenu-box .subMenu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: calc(7.6 * var(--font-size)) calc(2 * var(--font-size)) calc(2.5 * var(--font-size));
    border: none;
    border-radius: 0;
    border-top-left-radius: calc(2 * var(--font-size));
    border-top-right-radius: calc(2 * var(--font-size));
  }
  header .subMenu-box .subMenu button.hide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: calc(3.6 * var(--font-size));
    height: calc(3.6 * var(--font-size));
    border-radius: calc(10 * var(--font-size));
    background-color: #D0D5DD;
    position: absolute;
    top: calc(2 * var(--font-size));
    right: calc(2 * var(--font-size));
  }
  header .subMenu-box .subMenu button.hide img {
    display: block;
    margin: 0 auto;
  }
  header .subMenu-box .subMenu .points {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: calc(2 * var(--font-size));
    padding: calc(1.6 * var(--font-size)) calc(2 * var(--font-size));
    border: 1px #D0D5DD solid;
    border-radius: calc(2.4 * var(--font-size));
    font-size: calc(1.6 * var(--font-size));
    font-weight: 800;
    line-height: 1;
  }
  header .subMenu-box .subMenu .points img {
    width: calc(2.4 * var(--font-size));
    height: auto;
    margin-right: calc(.8 * var(--font-size));
  }
  header .subMenu-box .subMenu ul {
    width: 100%;
  }
  header .subMenu-box .subMenu li {
    font-size: calc(1.5 * var(--font-size));
    text-align: center;
  }
}
/*# sourceMappingURL=header.css.map */