.invoice-form {
  width: 100%;
  max-width: 488px;
  box-sizing: border-box;
  margin: calc(4 * var(--font-size)) auto 0;
  padding: calc(4 * var(--font-size)) calc(3.2 * var(--font-size));
  border-radius: calc(1.6 * var(--font-size));
  background-color: white;
  box-shadow: 0px 4px 16px rgba(199, 199, 199, 0.25);
}
.invoice-form p.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(1.6 * var(--font-size));
  font-weight: 700;
  margin-bottom: 20px;
}
.invoice-form p.title button {
  margin-left: calc(0.8 * var(--font-size));
  transition: all 0.5s;
  line-height: 0.6em;
}
.invoice-form p.title button:hover {
  opacity: 0.6;
}
.invoice-form .checkbox {
  padding: calc(2.4 * var(--font-size)) calc(1.6 * var(--font-size));
  margin-bottom: calc(2.4 * var(--font-size));
  font-size: calc(1.4 * var(--font-size));
  background-color: #FCFCFD;
  border: 1px solid #E4E7EC;
  border-radius: 16px;
  position: relative;
}
.invoice-form .checkbox label {
  cursor: pointer;
  padding-left: calc(2.8 * var(--font-size));
  background: none;
  position: relative;
  display: inline-block;
}
.invoice-form .checkbox label:before {
  content: "";
  display: inline-block;
  width: calc(1.6 * var(--font-size));
  height: calc(1.6 * var(--font-size));
  border-radius: calc(0.4 * var(--font-size));
  border: 1px solid #D0D5DD;
  position: absolute;
  top: calc(0.2 * var(--font-size));
  left: 0;
  cursor: pointer;
}
.invoice-form .checkbox [type=checkbox] {
  display: none;
}
.invoice-form .checkbox [type=checkbox]:checked + label:before {
  border: #344054;
  background-color: #344054;
  background-image: url("../images/icon/ic-check-white.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: calc(1.2 * var(--font-size)) auto;
}
.invoice-form .selector {
  font-size: calc(1.4 * var(--font-size));
  line-height: 1.6;
  color: #344054;
  position: relative;
  margin-top: 8px;
}
.invoice-form .selector span {
  display: block;
  background-color: #F9FAFB;
  border: 1px solid #D0D5DD;
  border-radius: 24px;
  padding: 8px 16px;
  position: relative;
  cursor: pointer;
  color: #D0D5DD;
}
.invoice-form .selector span:after {
  content: url(../images/icon/ic-arrow-down.svg);
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  transition: all 0.5s;
}
.invoice-form .selector span + div {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 500;
  margin-top: 8px;
  padding: 0 12px;
  background-color: #FCFCFD;
  border-radius: 12px;
}
.invoice-form .selector span + div ul {
  overflow-y: hidden;
  max-height: 0;
  transition: all 0.5s;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.invoice-form .selector span + div ul li {
  flex: 100%;
  padding: 4px 8px;
  cursor: pointer;
}
.invoice-form .selector span + div ul li:hover {
  background-color: #E4E7EC;
  border-radius: 4px;
}
.invoice-form .selector.open span + div {
  padding: 12px;
  padding-right: 5px;
  border: 1px solid #D0D5DD;
}
.invoice-form .selector.open span + div ul {
  padding-right: 4px;
  height: auto;
  max-height: 10.5em;
  overflow-y: auto;
}
.invoice-form .selector.open span + div ul::-webkit-scrollbar {
  width: 3px;
  border-radius: 3px;
}
.invoice-form .selector.open span + div ul::-webkit-scrollbar-track {
  background-color: #F2F4F7;
  border-radius: 3px;
}
.invoice-form .selector.open span + div ul::-webkit-scrollbar-thumb {
  background-color: #D0D5DD;
  border-radius: 3px;
}
.invoice-form #invoice {
  margin-bottom: 24px;
}
.invoice-form #invoice .invoice-type {
  display: none;
  flex-wrap: wrap;
  gap: 0 8px;
}
.invoice-form #invoice .invoice-type p {
  margin-top: 24px;
  font-size: calc(1.4 * var(--font-size));
  color: #344054;
  flex: 100%;
  position: relative;
}
.invoice-form #invoice .invoice-type p button {
  margin-left: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
}
.invoice-form #invoice .invoice-type input {
  width: 100%;
  background-color: #F9FAFB;
  border: 1px solid #D0D5DD;
  border-radius: 20px;
  color: #344054;
  padding: 8px 16px;
  height: 38px;
  box-sizing: border-box;
  margin-top: 8px;
}
.invoice-form #invoice .invoice-type input:focus {
  outline: none;
}
.invoice-form #invoice .invoice-type input::-moz-placeholder {
  color: #D0D5DD;
}
.invoice-form #invoice .invoice-type input:-ms-input-placeholder {
  color: #D0D5DD;
}
.invoice-form #invoice .invoice-type input::placeholder {
  color: #D0D5DD;
}
.invoice-form #invoice .invoice-type .input-button {
  flex: 100%;
  position: relative;
}
.invoice-form #invoice .invoice-type .input-button input {
  margin-top: 0;
}
.invoice-form #invoice .invoice-type .input-button button {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-45%);
}
.invoice-form #invoice .invoice-type #carrier-select, .invoice-form #invoice .invoice-type #county-select, .invoice-form #invoice .invoice-type #city-select {
  width: 100%;
}
.invoice-form #invoice .invoice-type #carrier-select span {
  color: #344054;
}
.invoice-form #invoice .invoice-type .carrier-select-content {
  display: none;
}
.invoice-form #invoice .invoice-type .carrier-select-content.show {
  display: block;
}
.invoice-form #invoice .invoice-type #county-select {
  flex: 1;
}
.invoice-form #invoice .invoice-type #city-select {
  flex: 1.3;
}
.invoice-form #invoice .invoice-type label {
  margin-top: 8px;
  color: #98A2B3;
  font-size: calc(1.4 * var(--font-size));
  font-weight: 400;
}
.invoice-form #invoice .invoice-type.show {
  display: flex;
}
.invoice-form #invoice.hidden {
  display: none;
}
.invoice-form a {
  display: block;
  width: 100%;
  padding: calc(1.2 * var(--font-size)) 0;
  font-size: calc(1.6 * var(--font-size));
  font-weight: bold;
  text-align: center;
  border-radius: calc(10 * var(--font-size));
}
.invoice-form a.cta-btn {
  margin-bottom: calc(1.5 * var(--font-size));
}
.invoice-form #submit {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  border-radius: 24px;
  color: white;
  background-color: #344054;
  margin-top: 8px;
  transition: all 0.5s;
  font-size: calc(1.6 * var(--font-size));
  font-weight: 600;
}
.invoice-form #submit:hover {
  background-color: #212835;
}
.invoice-form #submit:disabled {
  cursor: default;
  background-color: #F2F4F7;
  color: #98A2B3;
}
.invoice-form #submit:disabled:hover {
  background-color: #F2F4F7;
}

@media screen and (max-width: 768px) {
  .invoice-form {
    -webkit-tap-highlight-color: transparent;
    padding: calc(2.4 * var(--font-size));
  }
  .invoice-form .pd-box {
    display: block;
    margin-bottom: calc(4 * var(--font-size));
  }
  .invoice-form a {
    display: block;
    width: 100%;
    padding: calc(1.2 * var(--font-size)) 0;
    font-size: calc(1.6 * var(--font-size));
    font-weight: bold;
    text-align: center;
    border-radius: calc(10 * var(--font-size));
  }
  .invoice-form a.cta-btn {
    margin-bottom: calc(1.5 * var(--font-size));
  }
  .invoice-form #invoice .invoice-type #county-select, .invoice-form #invoice .invoice-type #city-select {
    flex: 100%;
  }
}