.popup-transfer {
  width: 80%;
  max-width: 470px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  padding: calc(4 * var(--font-size));
  margin: auto;
  background-color: #fff;
  border-radius: calc(2.4 * var(--font-size));
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 3;
}
.popup-transfer p.title {
  margin-bottom: calc(2.8 * var(--font-size));
  text-align: center;
  font-size: calc(1.8 * var(--font-size));
  font-weight: 600;
}
.popup-transfer p.desc {
  margin-bottom: calc(2.8 * var(--font-size));
  font-size: calc(1.4 * var(--font-size));
}
.popup-transfer p.amount {
  font-size: calc(2.4 * var(--font-size));
  line-height: 1.4;
  font-weight: 700;
  color: #F39240;
  margin-bottom: calc(2.8 * var(--font-size));
  display: inline-block;
  word-break: break-all;
}
.popup-transfer p.amount span {
  display: block;
  font-size: calc(1.4 * var(--font-size));
  font-weight: 400;
  color: #101828;
  line-height: 1.6;
  margin-top: calc(0.4 * var(--font-size));
}
.popup-transfer p.warning {
  color: #F39240;
  margin-bottom: calc(0.8 * var(--font-size));
  font-size: calc(1.4 * var(--font-size));
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
}
.popup-transfer dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px 20px;
  margin-bottom: calc(2.8 * var(--font-size));
  word-break: break-all;
  max-height: 30vh;
  overflow-y: auto;
}
.popup-transfer dl::-webkit-scrollbar {
  width: 3px;
  border-radius: 3px;
}
.popup-transfer dl::-webkit-scrollbar-track {
  background-color: #F2F4F7;
  border-radius: 3px;
}
.popup-transfer dl::-webkit-scrollbar-thumb {
  background-color: #D0D5DD;
  border-radius: 3px;
}
.popup-transfer dl dt {
  -webkit-box-flex: 150px;
      -ms-flex: 150px;
          flex: 150px;
  max-width: 150px;
}
.popup-transfer dl dd {
  -webkit-box-flex: calc(100% - 205px);
      -ms-flex: calc(100% - 205px);
          flex: calc(100% - 205px);
}
.popup-transfer button:hover {
  background-color: #1D2939;
}
.popup-transfer button.cta-btn {
  width: 100%;
  padding: calc(1.2 * var(--font-size)) 0;
  font-size: calc(1.3 * var(--font-size));
  border-radius: calc(10 * var(--font-size));
}
.popup-transfer button.hide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(3.6 * var(--font-size));
  height: calc(3.6 * var(--font-size));
  border-radius: calc(10 * var(--font-size));
  background-color: #D0D5DD;
  position: absolute;
  top: calc(2 * var(--font-size));
  right: calc(2 * var(--font-size));
}
.popup-transfer button.hide img {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .popup-transfer dl dt {
    -webkit-box-flex: calc(50% - 10px);
        -ms-flex: calc(50% - 10px);
            flex: calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
}
@media screen and (max-width: 428px) {
  .popup-transfer {
    padding: calc(2.8 * var(--font-size));
  }
}