$gray01: #FCFCFD;
$gray02: #F9FAFB;
$gray03: #F2F4F7;
$gray04: #E4E7EC;
$gray05: #D0D5DD;
$gray06: #98A2B3;
$gray07: #667085;
$gray08: #475467;
$gray09: #344054;
$gray10: #1D2939;
$gray11: #101828;
$Primary: #E7316A;
$PrimaryB: #F39240;







.popup-basic{
    width: 80%;
    max-width: 470px;
    box-sizing: border-box;
    overflow: hidden;
    padding: calc(4 * var(--font-size)); 
    margin: auto;
    background-color: #fff;
    border-radius: calc(1.2 * var(--font-size));
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 3;
    p{
        &.title{
            margin-bottom: calc(2.8 * var(--font-size));
            text-align: center;
            font-size: calc(1.8 * var(--font-size));
            font-weight: 600;
        }
        &.desc{
            margin-bottom: calc(2.8 * var(--font-size));
            font-size: calc(1.4 * var(--font-size));
        }
        &.amount{
            font-size: calc(2.4 * var(--font-size));
            line-height: 1.4;
            font-weight: 700;
            color: $PrimaryB;
            margin-bottom: calc(2.8 * var(--font-size));
            display: inline-block;
            word-break: break-all;
            span{
                display: block;
                font-size: calc(1.4 * var(--font-size));
                font-weight: 400;
                color: $gray11;
                line-height: 1.6;
                margin-top: calc(.4 * var(--font-size));
            }
        }
        &.warning{
            color: $PrimaryB;
            margin-bottom: calc(.8 * var(--font-size));
            font-size: calc(1.4 * var(--font-size));
            font-weight: 700;
            line-height: 1.6;
            text-align: center;
        }
    }
    dl{
        display: flex;
        flex-wrap: wrap;
        gap: 16px 20px;
        margin-bottom: calc(2.8 * var(--font-size));
        word-break: break-all;
        max-height: 30vh;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 2px;
        }
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px $gray03;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $gray06;
            border: 1px $gray06 solid;
        }
        dt{
            flex: 150px;
            max-width: 150px;
        }
        dd{
            flex: calc(100% - 205px);
        }
    }
    button{
        &:hover{
            background-color: $gray10;
        }
        &.cta-btn{
            width: 100%;
            padding: calc(1.2 * var(--font-size)) 0;
            font-size: calc(1.3 * var(--font-size));
            border-radius: calc(10 * var(--font-size));
        }
        &.hide{
            display: flex;
            align-items: center;
            width: calc(3.6 * var(--font-size));
            height: calc(3.6 * var(--font-size));
            border-radius: calc(10 * var(--font-size));
            background-color: $gray05;
            position: absolute;
            top: calc(2 * var(--font-size));
            right: calc(2 * var(--font-size));
            img{
                display: block;
                margin: 0 auto;
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .popup-table{
        width: 55%;
        max-height: 590px;
        button.hide{
            top: calc(2 * var(--font-size));
            right: calc(2 * var(--font-size));
        }
        .table-header{
            padding: calc(2.5 * var(--font-size)) calc(2 * var(--font-size)) calc(1 * var(--font-size));
            .info{
                .detail{
                    display: block;
                    p{
                        line-height: 1.3;
                    }
                }
                button{
                    font-size: calc(1.4 * var(--font-size));
                }
            }
            p.desc{
                font-size: calc(1.4 * var(--font-size));
            }
        }
        .heading-cell, .table-list ul li .item{
            ul{
                display: block;
                li{
                    &.id, &.number{
                        width: 100%;
                    }
                }
            }
        }
        .heading-cell{
            display: none;
        }
        .table-list{
            padding-right: calc(.5 * var(--font-size));
            li{
                padding: calc(1.6 * var(--font-size)) calc(2 * var(--font-size));
                border-bottom: 1px $gray03 solid;
                .item{
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    font-size: calc(1.4 * var(--font-size));
                    li{
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        margin-bottom: calc(1 * var(--font-size));
                        &:last-child{
                            margin-bottom: 0;
                        }
                        &.number{
                            font-weight: 500;
                        }
                        span{
                            width: 75%;
                            font-weight: normal;
                            &.title{
                                display: block;
                                width: 25%;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }
    .popup-basic{
        dl{
            dt{
                flex: calc(50% - 10px);
                max-width: calc(50% - 10px);
            }
        }
    }
}//max-width: 768px

@media screen and (max-width: 428px) {
    .popup-table{
        width: 90%;
    }
}//max-width: 428px